In [ ]:
# Elaborated based on the wonderful tutorial by Data Science Tutorials (https://youtu.be/NPznsxeL3FM)

In [2]:
import numpy as np
import pandas as pd
import os
import urllib
import requests

In [4]:
# Read the most up-to-date dataset directly from the WHO website
url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'
data = pd.read_csv(url)

In [6]:
data.head(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
85909,2020-12-20,ZW,Zimbabwe,AFRO,104,12151,2,318
85910,2020-12-21,ZW,Zimbabwe,AFRO,174,12325,2,320
85911,2020-12-22,ZW,Zimbabwe,AFRO,97,12422,2,322
85912,2020-12-23,ZW,Zimbabwe,AFRO,122,12544,4,326
85913,2020-12-24,ZW,Zimbabwe,AFRO,0,12544,0,326
85914,2020-12-25,ZW,Zimbabwe,AFRO,242,12786,13,339
85915,2020-12-26,ZW,Zimbabwe,AFRO,94,12880,2,341
85916,2020-12-27,ZW,Zimbabwe,AFRO,83,12963,0,341
85917,2020-12-28,ZW,Zimbabwe,AFRO,0,12963,0,341
85918,2020-12-29,ZW,Zimbabwe,AFRO,185,13148,13,354